<head>
    <meta charset="UTF-8">
    {{!-- <title>Resume Creator</title> --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    {{#if homepage}}
    <link rel="stylesheet" href="css/homepage.css">
    {{/if}}

    {{#if login}}
    <link rel="stylesheet" href="css/login.css">
    {{/if}}

    {{#if cindy}}
    <link rel="stylesheet" href="css/cu-style.css">
    {{/if}}

    {{#if steven}}
    <link rel="stylesheet" href="css/sb-style.css">
    {{/if}}

    {{#if todd}}

    <link rel="stylesheet" href="css/tg-style.css">
    {{/if}}

    {{#if camille}}
    <link rel="stylesheet" href="css/style.css">
    {{/if}}


</head>

<body>
    <div class="flex-column justify-space-around">
        {{!-- <header class="display-flex justify-space-between align-center p-2">
            <h1>
                Resume Creator
            </h1>
        </header> --}}
        <main class="container container-fluid mt-5">
            {{{ body }}}
        </main>
    </div>

    {{#if cindy}}
        <button class="bg-primary text-white p-1" id="downloadBtn">Download as PDF</button>
        <button class="bg-primary text-white p-1" id="deleteBtn">Delete Result</button>
    {{else if steven}}
        <button class="bg-primary text-white p-1" id="downloadBtn">Download as PDF</button>
        <button class="bg-primary text-white p-1" id="deleteBtn">Delete Result</button>
    {{else if camille}}
        <button class="bg-primary text-white p-1" id="downloadBtn">Download as PDF</button>
        <button class="bg-primary text-white p-1" id="deleteBtn">Delete Result</button>
    {{else if todd}}
        <button class="bg-primary text-white p-1" id="downloadBtn">Download as PDF</button>
        <button class="bg-primary text-white p-1" id="deleteBtn">Delete Result</button>
    {{/if}}

    <footer class="bg-light w-100 py-3 position-aboslute bottom-0 start-50 trasnlate-middle-x">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: darkblue;">
            © Anonymous Dinosaurs 2022
        </div>
        <!-- Copyright -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>