<div class="header">

        <div id="headerName">
            <header class="user-name">
                <h2 class="name">INSERT NAME HERE</h2>
        </header> 
        </div>
            <div id="jobTitle" class="title">
                <h4 class="job">JOB TITLE</h4>
            </div>
    </div>

    <div class="side-content">
        <aside class="contact-info">
            <h5>Contact</h5>
            <ul class="contact-list">
                <li class="phone"><i class="fa-solid fa-phone"></i> 555-555-5555</li>
                <li><i class="fa-solid fa-envelope"></i> INSERT EMAIL</li>
                <li><i class="fa-solid fa-globe"><a class="link" href="ADDLINKEDINURL"> LINKEDIN</a></i></li>
            </ul>
        </aside>

        <aside class="education">
            <h5>Eduction</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque veniam temporibus rem doloribus odio, aperiam ut sit praesentium explicabo quibusdam quod fugiat ea aut rerum quia ipsum amet illum incidunt.</p>
        </aside>

        <aside class="key-skills">
            <h5>Key Skills</h5>
            <ul>
                <li>INSERT SKILLS</li>
                <li>INSERT SKILLS</li>
                <li>INSERT SKILLS</li>
                <li>INSERT SKILLS</li>
                <li>INSERT SKILLS</li>
                <li>INSERT SKILLS</li>
            </ul>
        </aside>
    </div>
    
<div class ="main">
    <div class="experience">
        <h5 class="user-experience">Experience</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusamus quidem fugiat praesentium porro. Modi facere dolores accusamus provident? Voluptatem quibusdam sequi ad deleniti a quae quod incidunt, accusamus ut.</p>
    </div>

    <div class="referrence">
        <h5 class="job-referrence">Referrences</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident adipisci excepturi, aliquid vitae harum quisquam rerum esse similique deleniti repellendus consequatur autem! Nemo et, molestias eaque velit hic accusantium harum?</p>
    </div>
</div>