<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4cfe228376.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Resume Creator</title>

</head>
<body>
    <header>
    <div class="header">
        <header class="name">INSERT NAME HERE</header>
    </div>

    <div id="jobTitle" class="job-title">
        <h4 class="job">JOB TITLE</h4>
    </div>
    </header>

    <div class="container">
        <div class="row">
        <div class="col-8 col-md-4 col-sm-3">
          <div class="col-12" id="leftside">
            <h5>Contact</h5>
            <ul class="contact-list">
                <li class="phone"><i class="fa-solid fa-phone"></i> 555-555-5555</li>
                <li><i class="fa-solid fa-envelope"></i> INSERT EMAIL</li>
                <li><i class="fa-solid fa-globe"><a class="link" href="ADDLINKEDINURL"> LINKEDIN</a></i></li>
            </ul>
            <h5>Eduction</h5>
            <p class="date">Start Date - End Date</p>
            <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque veniam temporibus rem doloribus odio, aperiam ut sit praesentium explicabo quibusdam quod fugiat ea aut rerum quia ipsum amet illum incidunt.</p>
            <h5>Key Skills</h5>
            <ul>
                <li>INSERT SKILLS</li>
                <li>INSERT SKILLS</li>
                <li>INSERT SKILLS</li>
                <li>INSERT SKILLS</li>
                <li>INSERT SKILLS</li>
                <li>INSERT SKILLS</li>
            </ul>
        </div>
    </div>

     <div class="col-12 col-md-8">
        <div class="experience">
            <h5 class="user-experience">Experience</h5>
            <p class="date">Start Date - End Date</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusamus quidem fugiat praesentium porro. Modi facere dolores accusamus provident? Voluptatem quibusdam sequi ad deleniti a quae quod incidunt, accusamus ut.</p>
        </div>
    
        <div class="reference">
            <h5 class="job-reference">References</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident adipisci excepturi, aliquid vitae harum quisquam rerum esse similique deleniti repellendus consequatur autem! Nemo et, molestias eaque velit hic accusantium harum?</p>
        </div>
    </div>
</div>



</body>
</html>