<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/resume-creator/templates/style.css">
    <title>Your New Resume</title>
</head>
<header id="header">
  <h1>Steven Barrios</h1>
  <hr>
  <h2>Full Stack Engineer</h2>
  <hr>
  </header>
    <main>
        <article id="mainLeft">
            <section>
    <h2>Contact Me!</h2>
    <li><a href="mailto:steven.barrios92@gmail.com">Email</a></li>
    <li><a href="http://github.com/Proper-Stevo">Github Page</a></li>
    <li><a href="http://linkedIn.com/stevo1992">LinkedIn Page</a></li>
    <li><a href="hhttps://proper-stevo.github.io/SBPortfolio/">Portfolio Page</a></li>
  </ul>
</section>
<section>
  <h2>Skils And Accomplishments</h2>
  <ul>
    <li>Drawing</li>
    <li>Photography</li>
    <li>Design</li>
    <li>Programming</li>
    <li>Computer Science</li>
  </ul>
  </section>
  <section>
  <h2>Relevant Work</h2>
  <ul>
    <li>Web Design with HTML & CSS</li>
  </ul>
  </section>
        </article>
  <article id="mainRight">
    <section>
  <h2>Education</h2>
  <ul>
    <li>UCLA Full Stack Engineer Boot Camp</li>
      <li>East Los Angeles College</li>
      <li>John C Fremont High School</li>
    </li>
  </ul>
  </section>
  <section>
  <h2>Work Experience</h2>
  <ul>
    <li>LADOT Outreach Program</li>
    <li>Sprint Manager</li>
    <li>Sprint Sales Lead</li>
  </ul>
  </section>
</article>
    </main>