* {
    margin: 0%;
    padding: 0%;
}

.title {
    background-color: cornflowerblue;
    font-size: 50px;
    color: white;
    text-align: center;
}

h5 {
    font-size: 15px;
    margin: 10px;
}

label {
    margin: 10px;
}

.form-control {
    width: 80%;
    margin: 10px;
}

.input-group {
    width: 80%;
}

button {
    margin: 10px;
}

footer {
    text-align: center;
    font-size: 14px;
}

.homepage-wrapper {
    display: flex;
}

.leftside {
    width: 60%;
    flex: 1 0 60%;
}

.rightSide {
    width: 40%;
    flex: 1 0 40%;
}

img {
    width: 400px;
    height: 500px;
}