/* Universal Selector */
* {
    max-width: 800px;
    margin: auto;
    font-family:Arial, Helvetica, serif;
}

.name {
    font-size: 40px;
    font-family: serif;
    border-bottom: 5px solid #9C98EE;
    padding: 3px;
    
}

.job {
  background-color: #9C98EE;
  font-size: 20px;
  color: white;
  font-family: serif;
  width: 30%;
  text-align: center;
  position: relative;
  left: 34%;
  bottom: 15px;
}

#leftside {
  border-right: 2px solid #9C98EE;
}


.contact-list {
  border-bottom: 1px solid gray;
  margin: 10px;
}

.info {
  border-bottom: 1px solid gray;
  margin: 10px;
}

.date {
  color: slategray;
}

.experience {
  border-bottom: 1px solid gray;
  margin: 10px;
}

.reference {
  margin: 10px;
}











  
  