* {
    max-width: 700px;
    margin: auto;
    font-family:Arial, Helvetica, serif;
}

.name {
    font-size: 40px;
    font-family: serif;
    border-bottom: 5px solid #9C98EE;
    padding: 3px;
    
}

.job {
    justify-content: center;
    font-family: serif;
    background-color: #9C98EE;
    width: 18rem;
    color: white;
    display: flex;
    position: relative;
    left: 29%;
    bottom: 25px;
}


.contact-list {
    list-style: none;
}

.contact-info {
    border-bottom: 1px solid gray;
}

.education {
    border-bottom: 1px solid gray;

}

.link {
    text-decoration: none;
}


.experience {
    top: 62px;
    right: 6rem;
    padding: 5px;
}

.user-experience {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.referrence {
    top: 10rem;
    right: 6rem;
    padding: 5px;
}

.job-referrence {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}