<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Resume</title> 
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="css/tg-style.css">

</head>

<body class="container-fluid">
 
    <header class='text-left secondary'>
      <div class="text-bg-secondary p-3 fs-1">John Doe <br>Front End Developer</div>
      </header>

   <div class="contact-info">
  <span class=""> Email:</span>
  <span class="email-val"></span>
  <span class="separator"></span> |
  <span class="phone">Phone: </span> 
  <span class="phone-val">818-426-5296</span>
  <span class="separator"></span> |
  <span class="contact">linkedin.com/johndoe</span> |
  <span class="contact">johndoe.github.io</span></p>
  </div>


  <header class='text-left secondary'>
    <div class="text-bg-secondary p-3 fs-4">Skills</div>
    </header>

     <div class="">
      <ul>
        <li>HTML / CSS / JavaScript</li>
        <li>Node.js / Express</li>
        <li>MySQL</li>
        <li>Java / C# / Python </li>
    </ul>
  </div>

  <header class='text-left secondary'>
    <div class="text-bg-secondary p-3 fs-4">Work Experience</div>
    </header>
  

    

<section class="row container-fluid">
  <div class="col-7">
    <h5 class="text-black"><span class="section-title  px-1">Bank of America</span></h5>
        <p><span class="container- fluid bold work-title"></span>Dec 2010 - Apr 2013<br>
      <span class="">Los Angeles, CA</span>
      </div>
     
  <div class="col-5 container-fluid">
     <h5 class="container-fluid text-black"><span class="">Personal Banker</span></h5>
 <ul>
     <li>Hire, onboard and train call center personnel</li>
     <li>Coach call center staff through challenging customer service issues</li>
     <li>Analyze call center data and prepare reports for upper managemen</li>
     <li>Evaluate staff effectiveness and performance annually or on an at-need basis</li>
 </ul>
</div>
</section>

<section class="row container-fluid">
  <div class="col-7 container-fluid">
    <h5 class="text-black"><span class="container-fluid section-title  px-1">Bank of America</span></h5>
       <p><span class="container- fluid bold work-title"></span>Apr 2013 - Feb 2015<br>
      <span class="">Los Angeles, CA</span>
      </div>
     
  <div class="col-5 container-fluid">
     <h5 class="container-fluid text-black"><span class="">Mortgage Loan Officer</span></h5>
 <ul>
     <li>Hire, onboard and train call center personnel</li>
     <li>Coach call center staff through challenging customer service issues</li>
     <li>Analyze call center data and prepare reports for upper managemen</li>
     <li>Evaluate staff effectiveness and performance annually or on an at-need basis</li>
 </ul>
</div>
</section>

<section class="row container-fluid">
  <div class="col-7 container-fluid">
    <h5 class="text-black"><span class="container-fluid section-title  px-1">Bossa Nova</span></h5>
      <p><span class="container- fluid bold work-title"></span>Apr 2015 Apri 2021<br>
      <span class="">Los Angeles, CA</span>
      </div>
     
  <div class="col-5 container-fluid">
     <h5 class="container-fluid text-black"><span class="">Catering Manger</span></h5>
 <ul>     
    <li>Hire, onboard and train call center personnel</li>
     <li>Coach call center staff through challenging customer service issues</li>
     <li>Analyze call center data and prepare reports for upper managemen</li>
     <li>Evaluate staff effectiveness and performance annually or on an at-need basis</li>
 </ul>
</div>
</section>

<section>
<header class='text-left secondary'>
  <div class="text-bg-secondary p-3 fs-4">Education</div>
  </header>
  
  <p><span class="work-title">University of California, LA</span><br>Sep 2010 - Jun 2014<br>Bachelor's Degree in Computer Science</p>
  </div>
</section>

<section>
  <header class='text-left secondary'>
    <div class="text-bg-secondary p-3 fs-4">Reference</div>
    </header>
    <ul>
      <li><span class="work-title">Mary Jane</span> <span class="m-1">|</span> maryj@gmail.com <span class="m-1">|</span> (909) 123-4567</li>
      <li><span class="work-title">Tommie Lian</span> <span class="m-1">|</span> tommiel@gmail.com <span class="m-1">|</span> (300) 330-2222</li>
      <li><span class="work-title">Michael Topps</span> <span class="
        ">|</span> michaelt@gmail.com <span class="m-1">|</span> (800) 454-4545</li>
  </ul>
    </div>
  </section>

</body>
</html>
