<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Resume</title> 
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="style.css">

</head>

<body>
 
    <header class='text-left secondary'>
      <div class="text-bg-secondary p-3 fs-1">Todd Garner</div>
      </header>

  


   <div class="contact-info container-fluid">
  <span class="container-fluid"> Email:</span>
  <span class="email-val">toddrgarner@gmail.com</span>
  <span class="separator"></span> |
  <span class="phone">Phone: </span> 
  <span class="phone-val">818-426-5296</span>
  <span class="separator"></span> |
  <span class="contact">linkedin.com/johndoe</span> |
  <span class="contact">johndoe.github.io</span></p>
  </div>

 

  <div class="container-fluid">
    <h2 class="container-fluid">Front-End Developer</h2>
    <p></p>
  </div>

  <div class="container-fluid">
    <h4 class="container-fluid">QUALIFICATIONS</h4>
    <ul>
      <li>More than 15 years in managerial and administrative experience supervising a staff of 25 employees</li>
      <li>Excellent ability to adapt to any work environment with versatility</li>
      <li>Dedication and drive as a hard-working individual. Committed to being timely and punctual, arriving early and staying late</li>
      <li></li>
  </ul>
  </div>

  <div class="container-fluid">
    <h3 class="container-fluid">INTERPERSONAL AND TEAMWORK SKILLS</h3>
    <ul>
      <li>Entrusted to process confidential employee records such as salary changes, vacation/absenteeism reports and performance appraisals</li>
      <li>Interacted productively with a wide variety of personalities while scheduling meetings and appointments</li>
      <li>Outstanding communication and team-building skills</li>
      <li>Maintained great working relationships with staff and employers over an 11-year work history</li>
  </ul>
  </div>

  <div class="container-fluid">
    <h4 class="container-fluid">EMPLOYEE HISTORY</h4>
    <p></p>
  </div>
  
    <section class="row container-fluid">
    <div class="col-7 container-fluid">
       <h5 class="text-black"><span class="container-fluid section-title  px-1">California Credit Union</span></h5>
      <!-- <b class="term container-fluid">FedEx Office</b> -->
      <p><span class="container- fluid bold work-title"></span>May 2010 - Dec 2010<br>
        <span class="">Los Angeles, CA</span>
        </div>
       
    <div class="col-5 container-fluid">
       <h5 class="container-fluid text-black"><span class="">Call Center Manager</span></h5>
   <ul>
       <li>Hire, onboard and train call center personnel</li>
       <li>Coach call center staff through challenging customer service issues</li>
       <li>Analyze call center data and prepare reports for upper managemen</li>
       <li>Evaluate staff effectiveness and performance annually or on an at-need basis</li>
   </ul>
</div>
</section>

<section class="row container-fluid">
  <div class="col-7 container-fluid">
    <h5 class="text-black"><span class="container-fluid section-title  px-1">FedEx Office</span></h5>
    <!-- <b class="term container-fluid">FedEx Office</b> -->
    <p><span class="container- fluid bold work-title"></span>May 2010 - Dec 2010<br>
      <span class="">Los Angeles, CA</span>
      </div>
     
  <div class="col-5 container-fluid">
     <h5 class="container-fluid text-black"><span class="">Lead Project Coordinator</span></h5>
 <ul>
     <li>Hire, onboard and train call center personnel</li>
     <li>Coach call center staff through challenging customer service issues</li>
     <li>Analyze call center data and prepare reports for upper managemen</li>
     <li>Evaluate staff effectiveness and performance annually or on an at-need basis</li>
 </ul>
</div>
</section>

<section class="row container-fluid">
  <div class="col-7 container-fluid">
    <h5 class="text-black"><span class="container-fluid section-title  px-1">Bank of America</span></h5>
        <p><span class="container- fluid bold work-title"></span>Dec 2010 - Apr 2013<br>
      <span class="">Los Angeles, CA</span>
      </div>
     
  <div class="col-5 container-fluid">
     <h5 class="container-fluid text-black"><span class="">Personal Banker</span></h5>
 <ul>
     <li>Hire, onboard and train call center personnel</li>
     <li>Coach call center staff through challenging customer service issues</li>
     <li>Analyze call center data and prepare reports for upper managemen</li>
     <li>Evaluate staff effectiveness and performance annually or on an at-need basis</li>
 </ul>
</div>
</section>

<section class="row container-fluid">
  <div class="col-7 container-fluid">
    <h5 class="text-black"><span class="container-fluid section-title  px-1">Bank of America</span></h5>
       <p><span class="container- fluid bold work-title"></span>Apr 2013 - Feb 2015<br>
      <span class="">Los Angeles, CA</span>
      </div>
     
  <div class="col-5 container-fluid">
     <h5 class="container-fluid text-black"><span class="">Mortgage Loan Officer</span></h5>
 <ul>
     <li>Hire, onboard and train call center personnel</li>
     <li>Coach call center staff through challenging customer service issues</li>
     <li>Analyze call center data and prepare reports for upper managemen</li>
     <li>Evaluate staff effectiveness and performance annually or on an at-need basis</li>
 </ul>
</div>
</section>

<section class="row container-fluid">
  <div class="col-7 container-fluid">
    <h5 class="text-black"><span class="container-fluid section-title  px-1">Bossa Nova</span></h5>
      <p><span class="container- fluid bold work-title"></span>Apr 2015 Apri 2021<br>
      <span class="">Los Angeles, CA</span>
      </div>
     
  <div class="col-5 container-fluid">
     <h5 class="container-fluid text-black"><span class="">Catering Manger</span></h5>
 <ul>     <li>Hire, onboard and train call center personnel</li>
     <li>Coach call center staff through challenging customer service issues</li>
     <li>Analyze call center data and prepare reports for upper managemen</li>
     <li>Evaluate staff effectiveness and performance annually or on an at-need basis</li>
 </ul>
</div>
</section>




<div class="container-fluid">
  <h4>Skills</h4>
  <p></p>
</div>
